@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.Navbar {
  display: flex;
  flex-direction: column;
  outline: none;
  &-logo {
    margin: 3rem 0rem;

    img {
      max-width: 9vw;
      width: 100%;
    }
  }

  &-list {
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    list-style-type: none;
    border-top: 1px solid $lightgrey;
    &-itemBlock {
      margin-top: 4rem;
      width: 100%;
    }

    &-item {
      width: 100%;
      display: flex;
      color: black;

      &:hover {
        .Navbar-list-item-icon,
        .Navbar-list-item-name {
          color: $dark;
          font-weight: normal;
        }
      }

      &-selected {
        color: red;
      }
    }

    &-item-icon {
      @include NavbarIcons;
    }

    &-item-name {
      display: block;
      font-family: $nunito;
      color: $Gray;
      text-decoration: none;
      opacity: 0;
      margin-left: 1rem;
      width: 0;
      height: 0;
      &:hover {
        opacity: 1;
      }
    }
  }
}
