@import './common.scss';
@import './mixins.scss';
@import './variables.scss';
@import './components/navbar.scss';

.App {
  display: flex;
  height: 100vh;

  // NAV
  :nth-child(1) {
    flex-basis: 5%;
    min-width: 4rem;
  }
  //BOARD
  :nth-child(2) {
    flex-grow: 1;
    background: $lightblue;
  }
  
}
