html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/******************
COLORS
 ******************/
/******************
FONTS
 ******************/
/******************
BREAKPOINTS
 ******************/
/******************
COMMONS
 ******************/
/******************
NAVBAR
 ******************/
/******************
SEARCH BAR
 ******************/
/******************
FILTERS
******************/
/******************
GRID
******************/
/******************
COLORS
 ******************/
/******************
FONTS
 ******************/
/******************
COLORS
 ******************/
/******************
FONTS
 ******************/
/******************
BREAKPOINTS
 ******************/
/******************
COMMONS
 ******************/
/******************
NAVBAR
 ******************/
/******************
SEARCH BAR
 ******************/
/******************
FILTERS
******************/
/******************
GRID
******************/
/******************
COLORS
 ******************/
/******************
FONTS
 ******************/
.Navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  outline: none;
  -webkit-box-shadow: 2px 0px 20px #232f5500;
          box-shadow: 2px 0px 20px #232f5500;
  border-radius: 0px 30px 30px 0px;
}

.Navbar-logo {
  margin: 3rem 0rem;
}

.Navbar-list {
  text-align: center;
  cursor: pointer;
}

.Navbar-list-item {
  margin-top: 4rem;
}

.Navbar-list-item a {
  width: 20px;
  height: 15px;
  color: #868c9f;
  outline: none;
}

/******************
COLORS
 ******************/
/******************
FONTS
 ******************/
/******************
BREAKPOINTS
 ******************/
/******************
COMMONS
 ******************/
/******************
NAVBAR
 ******************/
/******************
SEARCH BAR
 ******************/
/******************
FILTERS
******************/
/******************
GRID
******************/
/******************
COLORS
 ******************/
/******************
FONTS
 ******************/
.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-color: #f3f6ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dashboard-top {
  min-height: 15vh;
}

.dashboard-main {
  min-height: 85vh;
}

/******************
COLORS
 ******************/
/******************
FONTS
 ******************/
/******************
BREAKPOINTS
 ******************/
/******************
COMMONS
 ******************/
/******************
NAVBAR
 ******************/
/******************
SEARCH BAR
 ******************/
/******************
FILTERS
******************/
/******************
GRID
******************/
/******************
COLORS
 ******************/
/******************
FONTS
 ******************/
.interpretes {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interpretes-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  row-gap: 3rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  width: 100%;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.interpretes-cards {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 14vw;
  padding: 0.9rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 15px #868c9f1d;
          box-shadow: 0px 3px 15px #868c9f1d;
  border-radius: 20px;
}

.interpretes-photo {
  border-radius: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  min-width: 100%;
}

.interpretes-nameBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

.interpretes-nameBlock .name {
  font-size: 1.2rem;
}

.interpretes-nameBlock .calendar {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.interpretes-noteBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.2rem;
}

.interpretes-noteBlock .note {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.interpretes-noteBlock .notices {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1rem;
}

.interpretes-city {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.interpretes-language {
  margin-top: 0.5rem;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.App .Navbar {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  min-width: 4rem;
}

.App .Dashboard {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #f3f6ff;
}
/*# sourceMappingURL=App.css.map */