// COMMONS
@import './common.scss';
@import './mixins.scss';
@import './variables.scss';

// LAYOUT COMPONENTS
@import '../components/layout/navbar/navbar.scss';
@import '../components/layout/dashboard/dashboard.scss';

// PAGE COMPONENTS
@import '../pages/Interpretes/interpretes.scss';

.App {
  display: flex;
  font-family: $nunito;
  // NAV
  .Navbar {
    flex-basis: 5%;
    min-width: 4rem;
  }
  //BOARD
  .Dashboard {
    flex-grow: 1;
    background: $lightblue;
  }
}
