@import './variables.scss';

/******************
BREAKPOINTS
 ******************/

$breakpoints: (
  'phone': 400px,
  'phone-wide': 480px,
  'phablet': 560px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1248px,
  'desktop-wide': 1440px,
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
/******************
COMMONS
 ******************/

@mixin BorderRadius {
  border-radius: 20px;
}

/******************
NAVBAR
 ******************/
@mixin NavbarIcons {
  width: 20px;
  height: 15px;
  color: $navbarGrey;
  outline: none;
}

@mixin NavbarItem {
  font-size: $navbarFontSize;
  color: navbarGray;
}

@mixin ActiveNavbarItem {
  @include NavbarItem;
  color: $navbarBlack;
}

@mixin NavbarRadius {
  box-shadow: 2px 0px 20px #232f5500;
  border-radius: 0px 30px 30px 0px;
}

/******************
SEARCH BAR
 ******************/

/******************
FILTERS
******************/

/******************
GRID
******************/

@mixin Card {
  width: 14vw;
  padding: 0.9rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 15px #868c9f1d;
  @include BorderRadius;
}
