/******************
COLORS
 ******************/

$navbarGrey: #868c9f;
$navbarBlack: #0e1c33;
$red: #dd1e1e;
$white: #ffffff;
$lightblue: #f3f6ff;
/******************
FONTS
 ******************/

$navbarFontSize: 20px;
$navarbarFontWeight: 600;
