/******************
COLORS
 ******************/

$Gray: #868c9f;
$searchbarGrey: #aeb2be;
$dark: #0e1c33;
$red: #dd1e1e;
$white: #ffffff;
$lightblue: #f3f6ff;

/******************
FONTS
 ******************/

$navbarFontSize: 2rem;
$navarbarFontWeight: 600;
$cardNameFontSize: 1.5rem;
$cardNoticeFontSize: 1rem;
$cardCityFontSize: 1.2rem;
$defaultFontSize: 1.5rem;
$filterLabelFontSize: 1.5rem;
$filterInputFontSize: 1.6rem;

/******************
INPUT ICONS
 ******************/

$inputIcon: 1.2rem;
