/******************
COLORS
 ******************/

$navbarGrey: #868c9f;
$navbarBlack: #0e1c33;
$red: #dd1e1e;
$white: #ffffff;
$lightblue: #f3f6ff;
/******************
FONTS
 ******************/

$navbarFontSize: 2rem;
$navarbarFontWeight: 600;
$cardNameFontSize: 1.5rem;
$cardNoticeFontSize:1rem;
$cardCityFontSize: 1.2rem;