@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.login {
  height: 100vh;
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  background-color: $lightblue;


  &-form {
    @include FormContainer;
  }

  &-title {
    @include FormTitle;
  }
  &-fields {
    @include InputField;
  }

  &-facebook,
  &-google {
    @include DefaultInput;
    margin-right: 0;
    padding-left: 0;
    cursor: pointer;
  }

  &-signin {
    @include LargeButtonWithoutIcon;
    padding: 0;
    margin: 3rem 0rem;
    border: 1px solid #f1f1f1;
  }

  &-separator {
    @include Separator;
  }

  &-google,
  &-facebook {
    margin-top: 2rem;
  }

  &-google,
  &-facebook {
    @include LargeButtonWithIcon;
  }

  &-facebook {
    background-color: $facebookblue;
    color: $white;
  }
}
