/******************
COLORS
 ******************/
/******************
FONTS
 ******************/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
/******************
INPUT ICONS
 ******************/
/******************
BREAKPOINTS
 ******************/
/******************
COMMONS
 ******************/
/******************
NAVBAR
 ******************/
/******************
SEARCH BAR
 ******************/
/******************
FILTERS
******************/
/******************
GRID
******************/
/******************
Login / SignUp
******************/
/******************
COLORS
 ******************/
/******************
FONTS
 ******************/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
/******************
INPUT ICONS
 ******************/
.login {
  height: 100vh;
  width: 100%;
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f3f6ff;
  opacity: 0;
}

.login-form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 35rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.login-form * {
  width: 100%;
}

.login-title {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: start;
  margin-bottom: 1rem;
}

.login-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  position: relative;
}

.login-fields label {
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 1;
  font-size: 1rem;
  color: #0e1c33;
  opacity: 0.6;
}

.login-fields input {
  width: 100%;
  height: 3rem;
  background: #ffffff;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 3px 15px #868c9f1c;
          box-shadow: 0px 3px 15px #868c9f1c;
  margin-right: 2rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  color: #0e1c33;
  height: 4rem;
}

.login-facebook, .login-google {
  width: 100%;
  height: 3rem;
  background: #ffffff;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 3px 15px #868c9f1c;
          box-shadow: 0px 3px 15px #868c9f1c;
  margin-right: 2rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  color: #0e1c33;
  margin-right: 0;
  padding-left: 0;
  cursor: pointer;
}

.login-signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3rem;
  background: #ffffff;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 3px 15px #868c9f1c;
          box-shadow: 0px 3px 15px #868c9f1c;
  margin-right: 2rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  color: #0e1c33;
  margin-right: 0;
  padding-left: 0;
  cursor: pointer;
  width: 70%;
  height: 3.5rem;
  padding: 0;
  margin: 3rem 0rem;
  border: 1px solid #f1f1f1;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  -webkit-box-shadow: 2px 0px 20px #232f5500;
          box-shadow: 2px 0px 20px #232f5500;
}

.login-signin:hover, .login-signin:focus {
  opacity: 0.7;
  background-color: #4e69a2;
  color: #ffffff;
}

.login-separator {
  position: relative;
  text-align: center;
  position: relative;
  font-size: 1.5rem;
}

.login-separator::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 40%;
  border: 0.7px solid black;
}

.login-separator::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 50%;
  width: 40%;
  border: 1px solid black;
}

.login-google, .login-facebook {
  margin-top: 2rem;
}

.login-google, .login-facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3rem;
  background: #ffffff;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 3px 15px #868c9f1c;
          box-shadow: 0px 3px 15px #868c9f1c;
  margin-right: 2rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  color: #0e1c33;
  margin-right: 0;
  padding-left: 0;
  cursor: pointer;
  width: 70%;
  height: 3.5rem;
}

.login-google svg, .login-facebook svg {
  width: 20%;
  font-size: 2rem;
}

.login-facebook {
  background-color: #3b5998;
  color: #ffffff;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.login-facebook:hover, .login-facebook:focus {
  opacity: 0;
  background-color: #4e69a2;
}

.login-google {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #dd4b39;
  color: #ffffff;
}

.login-google:hover, .login-google:focus {
  opacity: 0.6;
  background-color: #e47365;
  color: #ffffff;
}

.login .has-error {
  text-align: center;
  margin-top: 2rem;
}
/*# sourceMappingURL=login.css.map */