@import '../mixins.scss';
@import '../variables.scss';

.Navbar {
  display: flex;
  flex-direction: column;
  background-color: $white;
  outline:none;
  @include NavbarRadius;

  &-logo {
    margin: 3rem 0rem;
  }

  &-list {
    text-align: center;
    cursor: pointer;
        &-item {
        margin-top: 4rem;
            a{
                @include NavbarIcons;
            }
        }
  }
}
