@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-color: $lightblue;
  box-sizing: border-box;
  // padding: 5rem 5rem 0 5rem;
  &-top {
    min-height: 15vh;
  }

  &-main {
    min-height: 85vh;
  }
}
